@import url('./base.css');

/*header*/
.main-header {
    background-color: var(--primary); 
    color: white;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9rem;
    flex-wrap:wrap;
    gap: 10px;
}

@media (min-width: 768px) {
    .main-header {
        flex-direction: row;
        align-items: center;
    }
}
.logo h1{
    margin: 0;
    font-family: var(--font-heading);
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
}

.search-bar input {
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    width: 250px;
}

.search-button {
    background: none;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
    margin-top: 0; 
}

.user-actions{
    display: flex;
    flex-wrap: wrap;
}

.user-actions a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

/*Body*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-body);
    background: var(--bg);
    color: var(--text-primary);
}

/*Main*/
main {
    flex: 1;
}

/*Footer*/
.main-footer{
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}